.row{
    display: flex;
    gap: 30px;

    mat-form-field{
        width: 100%;
    }
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 99px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.action{
    button{
        flex: 1;
    }
}